{% extends  'base.html' %}

{% block nav %}
		<button class="nav_button" onclick="location.href='/clubs/'">Клубы</button>
		<button class="nav_button" onclick="location.href='/tournaments/'">Турниры</button>
		<button class="nav_button" onclick="location.href='#'">Мероприятия</button>
		<button class="nav_button" onclick="location.href='/fighters/'">Бойцы</button>
        <button class="nav_button nav_button_active" onclick="location.href='../..'">Виды оружия</button>
        <button class="nav_button" onclick="location.href='/info/divisions/'">Эшелоны</button>
		<button class="nav_button" onclick="location.href='#'">Статьи</button>
		<button class="nav_button" onclick="location.href='/info/apiinfo/'">API</button>
{% endblock nav %}

{% block main %}
    {% for x in weapons %}
        <div class="data_card" >
            <div class="inline_data">
                <div> {{ x.id }} -- {{x.name}}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
