{% extends  'base.html' %}
{% block main %}
    <form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>Старый пароль: </td>
        <td>{{ form.old_password }}</td>
    </tr>
    <tr>
        <td>Новый пароль:</td>
        <td>{{ form.new_password1 }}</td>
    </tr>
        <tr>
        <td>Повторите новый пароль:</td>
        <td>{{ form.new_password2 }}</td>
    </tr>
    </table>
    <button type="submit" class="login_button">Ввод</button>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div> Error: {{ error }} </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</form>
    <p>Пароль не должен быть слишком похож на другую вашу личную информацию.</p>
    <p>Пароль должен содержать как минимум 8 символов.</p>
    <p>Пароль не может состоять только из цифр.</p>
{% endblock %}