{% extends  'base.html' %}
{% block main %}
		<p>Добро пожаловать в базу данных ФДФ. Здесь вы можете получить всю интересующую вас информацию о Федерации, клубах, входящих в ее состав, проводимых Федерацией мероприятиях и турнирах. Вы также можете подать заявку на участие в турнире или связаться с интересующим вас клубом чтобы посещать занятия. </p>
		<p>Если вы веб-мастер или разработчик турнирного ПО, то в разделе "API" вы найдете полное описание способов получения информации из базы данных через REST-API.</p>
{% endblock %}