{% extends  'base.html' %}
{% block main %}
            <div>
                <img src="{{ image }}" alt="Ошибка при загрузке изображения" width="100px">
            </div>
            <div>
                <div>{{ club }}, город {{ city }} </div>
                <div>{{ description }}</div>
                <div>
                  <h3>Члены клуба:</h3>
                  {% for fighter in fighters %}
                      <div> {{ fighter.first_name }} {{ fighter.last_name }} </div>
                  {% endfor %}
                </div>
            </div>
{% endblock %}
