{% extends  'base.html' %}

{% block nav %}
		<button class="nav_button nav_button_active" onclick="location.href='..'">Клубы</button>
		<button class="nav_button" onclick="location.href='/tournaments'">Турниры</button>
		<button class="nav_button" onclick="location.href='#'">Мероприятия</button>
		<button class="nav_button" onclick="location.href='/fighters'">Бойцы</button>
        <button class="nav_button" onclick="location.href='/info/weapons'">Виды оружия</button>
        <button class="nav_button" onclick="location.href='/info/divisions'">Эшелоны</button>
		<button class="nav_button" onclick="location.href='#'">Статьи</button>
		<button class="nav_button" onclick="location.href='#'">API</button>
{% endblock nav %}

{% block main %}
    {% for club in clubs %}
        <div class="data_card" >
            <div class="inline_emblem">
                <a href="{{ club.id }}"><img src="{{ club.get_emblem }}" alt="Ошибка при загрузке изображения" height="100%"></a>
            </div>
            <div class="inline_data">
                <div><a href="{{ club.id }}">{{club.long_name}},</a></div>
                <div>город {{ club.city }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
