{% extends  'base.html' %}

{% block main %}
<form method="post" enctype="multipart/form-data" action="{% url 'fighter_edit' %}" >
    {% csrf_token %}
    <table>
            <tr>
                <td>Имя (реальное): </td>
                <td>{{ form.first_name }}</td>
            </tr>
            <tr>
                <td>Фамилия: </td>
                <td>{{ form.last_name }}</td>
            </tr>
            <tr>
                <td>Адрес электронной почты: </td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td>Город</td>
                <td>
                    {{ form.city }}
                </td>
            </tr>
            <tr>
                <td>В каком клубе ты состоишь?</td>
                <td>
                    {{ form.current_club }}
                </td>
            </tr>
            <tr>
                <td>Твой нынешний эшелон</td>
                <td>
                    {{ form.division }}
                </td>
            </tr>
            <tr>
                <td>Оружие, с которым ты тренируешься</td>
                <td>
                    {{ form.weapons }}
                </td>
            </tr>
            <tr>
                <td>Пол</td>
                <td>
                    {{ form.gender }}
                </td>
            </tr>
            <tr>
                <td>Твое фото:</td>
                <td>
                    {% if form.userpic %}
                        <img src="{{ user.fighter.get_userpic }}" alt="Фото" class="big_emblem">
                    {% endif %}
                {{ form.userpic }}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="login_button">Сохранить</button></td>
            </tr>
        </table>
     {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div> Ошибка: {{ error }} </div>
                {% endfor %}
            {% endfor %}
     {% endif %}
</form>
{% endblock %}
