{% extends  'base.html' %}

{% block main %}
    <p>Регистрация на сайте производится в два этапа. На первом вам будет предложено создать учетную запись пользователя,
    на втором -- ввести свои данные как бойца-фехтовальщика. Поскольку данная база данных предназначена для использования
    в рамках фехтовальных федераций, второй этап является обязательным. Если вы не интересуетесь фехтованием и не
    занимаетесь им, вы можете просматривать общедоступную информацию без регистрации.</p>

    <form method="post" action="{% url 'user_add' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>Имя пользователя (для входа на сайт): </td>
        <td>{{ form.username }}</td>
    </tr>
       <tr>
           <td></td>
           <td class="form_comment">Обязательное поле. Не более 150 символов. Только буквы, цифры и символы @/./+/-/_.</td>
       </tr>
    <tr>
        <td>Имя (реальное): </td>
        <td>{{ form.first_name }}</td>
    </tr>
    <tr>
        <td>Фамилия: </td>
        <td>{{ form.last_name }}</td>
    </tr>
    <tr>
        <td>Адрес электронной почты: </td>
        <td>{{ form.email }}</td>
    </tr>
    <tr>
        <td>Пароль:</td>
        <td>{{ form.password }}</td>
    </tr>
        <tr>
           <td></td>
           <td>
               <ul class="form_comment side_menu">
                    <li>Пароль не должен быть слишком похож на другую вашу личную информацию.</li>
                    <li>Пароль должен содержать как минимум 8 символов.</li>
                    <li>Пароль не может состоять только из цифр.</li>
               </ul>
           </td>
       </tr>
    <tr>
        <td></td>
        <td><button type="submit" class="login_button">Перейти к заполнению анкеты бойца</button></td>
    </tr>
    </table>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div> Ошибка: {{ error }} </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</form>


{% endblock %}